<div id="profile-advanced-layout" class="fal-fiche">

	<aside id="profile-advanced-right" class="fal-fiche__identite">
		<div class="fal-fiche__portrait module">
			<div class="fal-fiche__avatar mod-login-avatar">{AVATAR_IMG}</div>
			<h1 class="fal-fiche__nom">{USERNAME}</h1>
			<p class="fal-fiche__statut">{USER_ONLINE_ONLY}</p>
			<div class="fal-fiche__rang mod-login-rank">{POSTER_RANK_ONLY}</div>
			<!-- BEGIN switch_follow_member -->
			<div class="followers_block">
				<button onclick="doFollowAction(this);" data-id="{CUR_USER_ID}" class="followBtn {C_CLASS} ion-android-notifications{C_ICLASS} button1">{CUR_FOLLOW_TEXT}</button>
			</div>
			<!-- END switch_follow_member -->
			<!-- BEGIN switch_add_friend -->
			<div id="profile-advanced-add" class="fal-fiche__amitie">{FRIENDSFOES}</div>
			<!-- END switch_add_friend -->
		</div>

		<!-- BEGIN switch_awards -->
		<section class="fal-bloc awards_module">
			<h2 class="fal-bloc__titre">{switch_awards.L_AWARDS}</h2>
			<div class="awards_block">{switch_awards.AWARDS_LIST}</div>
		</section>
		<!-- END switch_awards -->

		<!-- BEGIN switch_dmx_ads -->
		<div class="fal-fiche__pub">{switch_dmx_ads.DMX_ADS}</div>
		<!-- END switch_dmx_ads -->

		<!-- BEGIN switch_allow_friendsfoes -->
		<section class="fal-bloc">
			<h2 class="fal-bloc__titre">{L_FRIENDS_TITLE}</h2>
			<ul class="fal-fiche__amis">
				<!-- BEGIN friend -->
				<li class="friend-block">
					<a href="{switch_allow_friendsfoes.friend.U_PROFILE}" title="{switch_allow_friendsfoes.friend.USERNAME_NO_COLOR} ( {switch_allow_friendsfoes.friend.L_ONLINE_ONLY} )">
						<span class="avatar">{switch_allow_friendsfoes.friend.AVATAR_IMG}</span>
						{switch_allow_friendsfoes.friend.USERNAME}
					</a>
					<span class="friend_list_online_status">{switch_allow_friendsfoes.friend.L_ONLINE_IMG} {switch_allow_friendsfoes.friend.L_ONLINE_ONLY}</span>
				</li>
				{switch_allow_friendsfoes.friend.DIV_CLEAR}
				<!-- END friend -->
			</ul>
			<p class="fal-bloc__detail">{L_FRIENDS_INFO}</p>
		</section>
		<!-- END switch_allow_friendsfoes -->
	</aside>

	<div id="profile-advanced-left" class="fal-fiche__contenu">
		<div id="new-message">
			<nav id="tabs" class="fal-onglets" aria-label="Rubriques du profil">
				<!-- BEGIN switch_messages_tab -->
				<!-- BEGIN switch_new_message -->
				<div id="new-message-link" class="fal-onglets__action">{NEW_MESSAGE_LINK}</div>
				<!-- END switch_new_message -->
				<!-- END switch_messages_tab -->
				<ul>
					<!-- BEGIN tab -->
					{tab.TAB}
					<!-- END tab -->
				</ul>
			</nav>
		</div>

		<div id="profile-advanced-details" class="fal-fiche__details">
			<div id="cp-main" class="ucp-main">
				<h2 class="fal-fiche__rubrique">{L_TAB_TITLE}</h2>

				<!-- BEGIN switch_unregistered -->
				<p class="fal-alerte">
					<span class="rep-button unregistered">{switch_unregistered.L_UNREGISTERED}</span>
					<!-- BEGIN switch_unregistered_management -->
					<a class="fal-bouton" href="{switch_unregistered.switch_unregistered_management.U_VALIDATE_USER}">{switch_unregistered.switch_unregistered_management.L_VALIDATE_USER}</a>
					<!-- END switch_unregistered_management -->
				</p>
				<!-- END switch_unregistered -->

				<!-- BEGIN switch_pagination -->
				<div class="pagination top">{PAGINATION} {PAGE_NUMBER}</div>
				<!-- END switch_pagination -->

				<!-- BEGIN switch_messages_tab -->
				<p class="fal-vide">{L_NO_MESSAGE}</p>
				<!-- BEGIN switch_has_messages -->
				<ol class="fal-fil-messages">
					<!-- BEGIN message_row -->
					<li class="fal-fil-messages__item">
						<div class="avatar"><a href="{switch_messages_tab.switch_has_messages.message_row.USER_URL}">{switch_messages_tab.switch_has_messages.message_row.AVATAR}</a></div>
						<div class="message-block">
							<div class="message-header">
								<a href="{switch_messages_tab.switch_has_messages.message_row.USER_URL}">{switch_messages_tab.switch_has_messages.message_row.USER_NAME}</a>{switch_messages_tab.switch_has_messages.message_row.USER_ONLINE_ONLY}{switch_messages_tab.switch_has_messages.message_row.SUBJECT}
								<span class="message-date">{switch_messages_tab.switch_has_messages.message_row.DATE}</span>
							</div>
							<div class="message-text">{switch_messages_tab.switch_has_messages.message_row.TEXT}</div>
							<ul class="message-footer">
								<!-- BEGIN user_action -->
								{switch_messages_tab.switch_has_messages.message_row.user_action.ACTION}
								<!-- END user_action -->
							</ul>
						</div>
					</li>
					<!-- END message_row -->
				</ol>
				<div class="new-message bottom">{NEW_MESSAGE_LINK}</div>
				<!-- END switch_has_messages -->
				<!-- END switch_messages_tab -->

				<!-- BEGIN switch_profile_tab -->
				<p class="fal-vide">{L_NO_FIELD}</p>
				<!-- L'édition en ligne dépend de l'emboîtement dl > dd > .field_uneditable / .field_editable. -->
				<div id="profile-tab-field-profil" class="fal-fiche__champs">
					<!-- BEGIN profile_field -->
					<dl id="{switch_profile_tab.profile_field.ID}" class="fal-fiche__champ">
						<dt>{switch_profile_tab.profile_field.LABEL}</dt>
						<dd>{switch_profile_tab.profile_field.CONTENT}</dd>
					</dl>
					<!-- END profile_field -->
				</div>
				<!-- BEGIN switch_auth_user -->
				<p class="fal-fiche__admin">{L_ADMINISTRATE_USER} : <strong>{ADMINISTRATE_USER}{BAN_USER}</strong></p>
				<!-- END switch_auth_user -->
				<!-- END switch_profile_tab -->

				<!-- BEGIN switch_stats_tab -->
				<div class="fal-fiche__stats">
					<!-- BEGIN points_fieldset -->
					<section class="fal-fiche__groupe stats-field">
						<h3>{switch_stats_tab.points_fieldset.L_POINTS_SYSTEM}</h3>
						<ul>
							<li><span>{switch_stats_tab.points_fieldset.L_POINTS}</span> {switch_stats_tab.points_fieldset.POINTS}</li>
							<!-- BEGIN points_per_post -->
							<li><span>{switch_stats_tab.points_fieldset.points_per_post.L_POINTS_PER_POST}</span> {switch_stats_tab.points_fieldset.points_per_post.POINTS_PER_POST}</li>
							<!-- END points_per_post -->
						</ul>
					</section>
					<!-- END points_fieldset -->
					<!-- BEGIN reputation_fieldset -->
					<section class="fal-fiche__groupe stats-field">
						<h3>{switch_stats_tab.reputation_fieldset.L_REPUTATION_SYSTEM}</h3>
						<ul>
							<li><span>{switch_stats_tab.reputation_fieldset.L_REPUTATION}</span> {switch_stats_tab.reputation_fieldset.REPUTATION}</li>
							<li><span>{switch_stats_tab.reputation_fieldset.L_VOTES_POSITIVE_RECEIVED}</span> {switch_stats_tab.reputation_fieldset.VOTES_POSITIVE_RECEIVED}</li>
							<li><span>{switch_stats_tab.reputation_fieldset.L_VOTES_NEGATIVE_RECEIVED}</span> {switch_stats_tab.reputation_fieldset.VOTES_NEGATIVE_RECEIVED}</li>
							<!-- BEGIN thanks -->
							<li><span>{switch_stats_tab.reputation_fieldset.thanks.L_THANKS_RECEIVED}</span> {switch_stats_tab.reputation_fieldset.thanks.THANKS_RECEIVED}</li>
							<!-- END thanks -->
							<li><span>{switch_stats_tab.reputation_fieldset.L_VOTES_POSITIVE_GIVEN}</span> {switch_stats_tab.reputation_fieldset.VOTES_POSITIVE_GIVEN}</li>
							<li><span>{switch_stats_tab.reputation_fieldset.L_VOTES_NEGATIVE_GIVEN}</span> {switch_stats_tab.reputation_fieldset.VOTES_NEGATIVE_GIVEN}</li>
							<!-- BEGIN thanks -->
							<li><span>{switch_stats_tab.reputation_fieldset.thanks.L_THANKS_GIVEN}</span> {switch_stats_tab.reputation_fieldset.thanks.THANKS_GIVEN}</li>
							<!-- END thanks -->
						</ul>
					</section>
					<!-- END reputation_fieldset -->
					<section class="fal-fiche__groupe stats-field">
						<h3>{L_TOPICS}</h3>
						<ul>
							<li><span><a rel="nofollow" href="/st/{PUSERNAME}">{L_TOTAL_TOPICS}</a></span> {TOTAL_TOPICS} ({TOPIC_PERCENT_STATS})</li>
							<li><span>{L_TOPICS_PER_DAY}</span> {TOPICS_PER_DAY}</li>
							<li><span>{L_LAST_TOPIC}</span> {LAST_TOPIC}</li>
							<li><a rel="nofollow" href="/sta/{PUSERNAME}">{L_SEARCH_USER_TOPICS}</a></li>
						</ul>
					</section>
					<section class="fal-fiche__groupe stats-field">
						<h3>{L_POSTS}</h3>
						<ul>
							<li><span>{L_TOTAL_POSTS}</span> {TOTAL_POSTS_MDBB} ({POST_PERCENT_STATS})</li>
							<li><span>{L_POSTS_PER_DAY}</span> {POSTS_PER_DAY}</li>
							<li><span>{L_LAST_POST}</span> {LAST_POST}</li>
							<li><a rel="nofollow" href="/spa/{PUSERNAME}">{L_SEARCH_USER_POSTS}</a></li>
						</ul>
					</section>
					<!-- BEGIN visitor_messages_fieldset -->
					<section class="fal-fiche__groupe stats-field">
						<h3>{switch_stats_tab.visitor_messages_fieldset.L_VISITOR_MESSAGES}</h3>
						<ul>
							<li><span>{switch_stats_tab.visitor_messages_fieldset.L_TOTAL_MESSAGES}</span> {switch_stats_tab.visitor_messages_fieldset.TOTAL_MESSAGES}</li>
							<li><span>{switch_stats_tab.visitor_messages_fieldset.L_LAST_MESSAGE}</span> {switch_stats_tab.visitor_messages_fieldset.LAST_MESSAGE}</li>
							<li><a rel="nofollow" href="{switch_stats_tab.visitor_messages_fieldset.U_SEARCH_USER_MESSAGES}">{switch_stats_tab.visitor_messages_fieldset.L_SEARCH_USER_MESSAGES}</a></li>
							<li><a rel="nofollow" href="{switch_stats_tab.visitor_messages_fieldset.U_POST_MESSAGE}">{switch_stats_tab.visitor_messages_fieldset.L_POST_MESSAGE}</a></li>
						</ul>
					</section>
					<!-- END visitor_messages_fieldset -->
					<section class="fal-fiche__groupe stats-field">
						<h3>{L_INFORMATION}</h3>
						<ul>
							<!-- BEGIN friends -->
							<li><span>{switch_stats_tab.friends.L_FRIENDS}</span> {switch_stats_tab.friends.FRIENDS}</li>
							<!-- END friends -->
							<!-- BEGIN switch_dhow_mp -->
							<li><span>{L_PRIVATE_MSG}</span> {PRIVATE_MSG}</li>
							<!-- END switch_dhow_mp -->
							<!-- BEGIN attachments -->
							<li><span>{switch_stats_tab.attachments.L_ATTACHMENTS}</span> {switch_stats_tab.attachments.ATTACHMENTS}</li>
							<!-- END attachments -->
							<li><span>{L_JOINED}</span> {JOINED}</li>
							<li><span>{L_LAST_VISITED}</span> {LAST_VISIT_TIME}</li>
						</ul>
					</section>
				</div>
				<!-- END switch_stats_tab -->

				<!-- BEGIN switch_friends_tab -->
				<p class="fal-vide">{L_NO_FRIEND}</p>
				<!-- BEGIN switch_has_friends -->
				<ol class="fal-fil-messages">
					<!-- BEGIN friend_row -->
					<li class="fal-fil-messages__item">
						<div class="avatar"><a href="{switch_friends_tab.switch_has_friends.friend_row.FRIEND_URL}">{switch_friends_tab.switch_has_friends.friend_row.AVATAR_IMG}</a></div>
						<div class="message-block">
							<div class="message-header">
								<a href="{switch_friends_tab.switch_has_friends.friend_row.FRIEND_URL}">{switch_friends_tab.switch_has_friends.friend_row.FRIEND_NAME}</a>{switch_friends_tab.switch_has_friends.friend_row.FRIEND_ONLINE_ONLY}
							</div>
							<div class="message-text">
								{switch_friends_tab.switch_has_friends.friend_row.FRIEND_INTERESTS}
								{switch_friends_tab.switch_has_friends.friend_row.FRIEND_GROUPS}
								{switch_friends_tab.switch_has_friends.friend_row.FRIEND_RANK}
							</div>
							<ul class="message-footer">
								<!-- BEGIN user_action -->{switch_friends_tab.switch_has_friends.friend_row.user_action.ACTION}<!-- END user_action -->
							</ul>
						</div>
					</li>
					<!-- END friend_row -->
				</ol>
				<!-- END switch_has_friends -->
				<!-- END switch_friends_tab -->

				<!-- BEGIN switch_followers_tab -->
				<p class="fal-vide">{L_FOLLOWED_MEMBERS}</p>
				<!-- BEGIN switch_followed -->
				<div class="fal-abonnements followers_block">
					<p class="fal-vide">{L_NO_FOLLOWED}</p>
					<!-- BEGIN followed_row -->
					<div class="follower-card">
						{switch_followers_tab.switch_followed.followed_row.AVATAR}
						<div class="details">
							<a href="{switch_followers_tab.switch_followed.followed_row.PROFILE_URL}">{switch_followers_tab.switch_followed.followed_row.USERNAME}</a>
							<!-- BEGIN switch_follow_btn -->
							<button onclick="doFollowAction(this);" data-id="{switch_followers_tab.switch_followed.followed_row.UID}" class="followBtn {switch_followers_tab.switch_followed.followed_row.C_CLASS} ion-android-notifications{switch_followers_tab.switch_followed.followed_row.C_ICLASS} button1">{switch_followers_tab.switch_followed.followed_row.L_FOLLOW_TEXT}</button>
							<!-- END switch_follow_btn -->
						</div>
					</div>
					<!-- END followed_row -->
				</div>
				<!-- END switch_followed -->
				<!-- END switch_followers_tab -->

				<!-- BEGIN switch_groups_tab -->
				<p class="fal-vide">{L_NO_GROUP}</p>
				<!-- BEGIN switch_has_groups -->
				<ol class="fal-fil-messages">
					<!-- BEGIN group_row -->
					<li class="fal-fil-messages__item">
						<div class="avatar"><span class="fal-pastille-groupe ion-ios-people" {switch_groups_tab.switch_has_groups.group_row.GROUP_STYLE}></span></div>
						<div id="group-{switch_groups_tab.switch_has_groups.group_row.GROUP_ID}" class="message-block">
							<div class="message-header"><strong>{switch_groups_tab.switch_has_groups.group_row.GROUP_NAME}</strong></div>
							<div class="message-text">
								<div>{switch_groups_tab.switch_has_groups.group_row.GROUP_DESC}</div>
								<b>{switch_groups_tab.switch_has_groups.L_STATUT} :</b> <i>{switch_groups_tab.switch_has_groups.group_row.GROUP_TYPE}</i>
							</div>
							<ul class="message-footer">
								<li><a href="{switch_groups_tab.switch_has_groups.group_row.GROUP_URL}">{switch_groups_tab.switch_has_groups.L_GROUP_SEE}</a></li>
							</ul>
						</div>
					</li>
					<!-- END group_row -->
				</ol>
				<!-- END switch_has_groups -->
				<!-- END switch_groups_tab -->

				<!-- BEGIN switch_awards_tab -->
				<div id="profile_awards_full" class="fal-recompenses">
					<!-- BEGIN switch_no_awards -->
					<p class="fal-vide">{switch_awards_tab.switch_no_awards.L_NO_AWARDS}</p>
					<!-- END switch_no_awards -->
					<!-- BEGIN switch_awards_owned -->
					<section class="fal-recompenses__groupe owned">
						<h3>{L_AWARDS_OWNED}</h3>
						<div class="awards_block">
							<!-- BEGIN award_row -->
							<div class="award_row">
								<div class="award_img">{switch_awards_tab.switch_awards_owned.award_row.IMAGE}</div>
								<div class="award_desc">
									<b>{switch_awards_tab.switch_awards_owned.award_row.TITLE}</b>
									<p>{switch_awards_tab.switch_awards_owned.award_row.DESC}</p>
									<i>{switch_awards_tab.switch_awards_owned.award_row.INFOS}</i>
								</div>
							</div>
							<!-- END award_row -->
						</div>
					</section>
					<!-- END switch_awards_owned -->
					<!-- BEGIN switch_awards_unowned -->
					<section class="fal-recompenses__groupe unowned">
						<h3>{L_AWARDS_UNOWNED}</h3>
						<div class="awards_block">
							<!-- BEGIN award_row -->
							<div class="award_row">
								<div class="award_img">{switch_awards_tab.switch_awards_unowned.award_row.IMAGE}</div>
								<div class="award_desc">
									<b>{switch_awards_tab.switch_awards_unowned.award_row.TITLE}</b>
									<p>{switch_awards_tab.switch_awards_unowned.award_row.DESC}</p>
									<i>{switch_awards_tab.switch_awards_unowned.award_row.INFOS}</i>
								</div>
							</div>
							<!-- END award_row -->
						</div>
					</section>
					<!-- END switch_awards_unowned -->
				</div>
				<!-- END switch_awards_tab -->

				<!-- BEGIN switch_rpg -->
				<div class="fal-rpg">
					<p class="fal-rpg__image">{RPG_IMAGE}</p>
					<div class="fal-rpg__champs">
						<!-- BEGIN rpg_fields_left -->
						<dl class="details"><dt>{switch_rpg.rpg_fields_left.F_NAME}</dt><dd>{switch_rpg.rpg_fields_left.F_VALUE_NEW}</dd></dl>
						<!-- END rpg_fields_left -->
						<!-- BEGIN rpg_fields -->
						<dl class="details"><dt>{switch_rpg.rpg_fields.F_NAME}</dt><dd>{switch_rpg.rpg_fields.F_VALUE_NEW}</dd></dl>
						<!-- END rpg_fields -->
					</div>
					<div class="submit-buttons">{U_ADMIN_RPG_NEW}</div>
				</div>
				<!-- END switch_rpg -->

				<!-- BEGIN switch_attachments -->
				{switch_attachments.U_MODERATE_ATTACHMENTS}
				<!-- END switch_attachments -->

				<!-- BEGIN switch_attachments_list -->
				<div class="fal-pieces-jointes">
					<!-- BEGIN switch_storage -->
					<h3>{L_STORAGE_USER} ({L_USED})</h3>
					<!-- END switch_storage -->
					<!-- BEGIN switch_storage_full -->
					<h3>{L_USED_FULL}</h3>
					<!-- END switch_storage_full -->
					<form method="post" name="manage" action="{S_CONFIRM_ACTION}">
						<div class="fal-tableau">
							<table class="table1">
								<thead>
									<tr>
										<th>{L_FILENAME}</th>
										<th>{L_FILESIZE}</th>
										<th>{L_FILETYPE}</th>
										<th>{L_FILEDOWNLOADED}</th>
										<th>{L_ACTION}</th>
										<!-- BEGIN switch_attachments_management -->
										<th>X</th>
										<!-- END switch_attachments_management -->
									</tr>
								</thead>
								<tbody>
									<!-- BEGIN no_attachments -->
									<tr><td colspan="6">{switch_attachments_list.no_attachments.L_ATTACHMENTS_NONE}</td></tr>
									<!-- END no_attachments -->
									<!-- BEGIN row_attachments -->
									<tr>
										<td>{switch_attachments_list.row_attachments.FILENAME}</td>
										<td>{switch_attachments_list.row_attachments.FILESIZE}</td>
										<td>{switch_attachments_list.row_attachments.FILETYPE}</td>
										<td>{switch_attachments_list.row_attachments.FILEDOWNLOADED}</td>
										<td>{switch_attachments_list.row_attachments.ACTION}</td>
										<!-- BEGIN switch_attachments_management -->
										<td>{switch_attachments_list.row_attachments.S_SELECT_TABLE}</td>
										<!-- END switch_attachments_management -->
									</tr>
									<!-- END row_attachments -->
								</tbody>
							</table>
						</div>
						<!-- BEGIN switch_attachments_management -->
						<p class="fal-actions">
							<input class="button2" type="submit" name="attachments_submit" value="{L_DELETE}" />
							<a href="#" onclick="this.value=check('select','manage');return false;">{L_SELECT_ALL}</a> ·
							<a href="#" onclick="this.value=check('unselect','manage');return false;">{L_USELECT_ALL}</a>
						</p>
						<!-- END switch_attachments_management -->
					</form>
					<!-- BEGIN switch_pagination -->
					<div class="pagination">{PAGINATION}</div>
					<!-- END switch_pagination -->
				</div>
				<!-- END switch_attachments_list -->

				<!-- BEGIN switch_pagination -->
				<div class="pagination">{PAGINATION} {PAGE_NUMBER}</div>
				<!-- END switch_pagination -->
			</div>
		</div>
	</div>
</div>

<script src="{JQUERY_ROOT}json/jquery.json-1.3.min.js"></script>
<script charset="{S_CONTENT_ENCODING}">
	$(document).ready(function () {
		$('[id^=field_id]').each(function () {
			if ($(this).find('.field_editable').is('span, div')) {
				$(this).hover(function () {
					if ($(this).find('.field_editable.invisible').is('span, div')) {
						$(this).find('.field_editable').prev().addClass('ajax-profil_hover').parent().addClass('ajax-profil_parent').append('<div class="ajax-profil_edit"><img src="{AJAX_EDIT_IMG}" /></div>');
						$(this).find('.ajax-profil_edit').attr({
							alt: "{L_FIELD_EDIT_VALUE}",
							title: "{L_FIELD_EDIT_VALUE}"
						}).click(function () {
							$(this).prev().prev().removeClass('ajax-profil_hover').addClass('invisible').next().removeClass('invisible').append('<img src="{AJAX_VALID_IMG}" class="ajax-profil_valid" />').find('input,select');
							$(this).prev().find('.ajax-profil_valid').attr({
								alt: "{L_VALIDATE}",
								title: "{L_VALIDATE}"
							}).click(function () {
								var content = new Array();
								$(this).parent().find('[name]').each(function () {
									var type_special = $(this).is('input[type=radio],input[type=checkbox]');
									if ((type_special && $(this).is(':checked')) || !type_special) {
										content.push(new Array($(this).attr('name'), $(this).attr('value')));
									}
								});
								var id_name = $(this).parents('[id^=field_id]').attr('id');
								var id = id_name.substring(8, id_name.length);
								$.post(
									"{U_AJAX_PROFILE}",
									{id: id, user: "{CUR_USER_ID}", active: "{CUR_USER_ACTIVE}", content: $.toJSON(content), tid: "{TID}"},
									function (data) {
										$.each(data, function (i, item) {
											if (item.startsWith('error : ')) {
												let present_err = document.getElementById('field_id' + i + "_err");
												if (!present_err) {
													let err = document.createElement('div');
													err.id = 'field_id' + i + "_err";
													err.classList.add("form-error");
													err.textContent = item.substring(8);
													document.getElementById('field_id' + i).querySelector('.field_editable input').after(err);
												} else {
													present_err.innerText = item.substring(8);
												}
											} else {
												let err = document.getElementById('field_id' + i + "_err");
												if (err) err.remove();
												$('[id=field_id' + i + ']').find('.field_uneditable').html(item).end().find('.ajax-profil_valid').remove().end().find('.field_editable').addClass('invisible').end().find('.field_uneditable').removeClass('invisible');
											}
										});
									},
									"json"
								);
							});
							$(this).remove();
						});
					}
				}, function () {
					if ($(this).find('.field_editable.invisible').is('span, div')) {
						$(this).find('.field_editable').prev().removeClass('ajax-profil_hover');
						$(this).find('.ajax-profil_edit').remove();
					}
				});
			}
		});
	});
</script>

<!-- BEGIN switch_image_resize -->
<script>
	$(resize_images({ 'selector': '.message-text', 'max_width': {switch_image_resize.IMG_RESIZE_WIDTH}, 'max_height': {switch_image_resize.IMG_RESIZE_HEIGHT} }));
</script>
<!-- END switch_image_resize -->
